/* variables here */

$gloria: 'Gloria Hallelujah', cursive;
$permanent: 'Permanent Marker', cursive;
$tahoma: 'Tahoma', Arial, sans-serif;

$box-shadow : rgba(73, 83, 90, 0.5);

$bg-color: rgba(131, 97, 52, 0.5);

$card-bg-color: #221f228a;

$font-color: #ffffff;

$stars: #FFD700;

$overlay-color: rgba(0, 0, 0, 0.7);

$hover-color: #E5F720;